.forgot-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #0f172a; /* dark bg like login */
}

.forgot-card {
  background: #1e293b;
  padding: 30px;
  border-radius: 12px;
  width: 350px;
  text-align: center;
  box-shadow: 0 8px 25px rgba(0,0,0,0.3);
}

.forgot-card h2 {
  color: #fff;
  margin-bottom: 20px;
}

.forgot-card input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 8px;
  border: none;
  outline: none;
}

.forgot-card button {
  width: 100%;
  padding: 10px;
  background: #38bdf8;
  border: none;
  border-radius: 8px;
  color: #000;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.forgot-card button:hover {
  background: #0ea5e9;
}